.book-listing-card {
  width: 14em;
  cursor: pointer;
  border-radius: 1rem;
}

.books-listing-photo {
  height: 15rem;
  width: 12rem;
  border-radius: 0.7rem 0.7rem 0 0;
}

mat-card-title-group {
  justify-content: center;
}

.mat-mdc-button .mat-icon {
  margin-right: 0;
}

.mat-mdc-card-header {
  padding: 0 0 0 0.5rem;
}

.mat-mdc-card-actions {
  padding: 0;
}
