<mat-card class="book-listing-card" [routerLink]="['/details', bookDetails.bookId]">
  <mat-card-title-group>
    <img mat-card-image class="books-listing-photo" src="{{bookDetails.photo}}"
       alt="{{'Photo of ' + bookDetails.bookName}}">
  </mat-card-title-group>
  <mat-card-header>
    <mat-card-title [matTooltip]="bookDetails.bookName.length > 15 ? bookDetails.bookName : ''">
      {{bookDetails.bookName | MaxString: 16}}
    </mat-card-title>
    <mat-card-subtitle [matTooltip]="bookDetails.bookAuthor.length > 19 ? bookDetails.bookAuthor : ''">
      {{bookDetails.bookAuthor | MaxString: 20}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button color="accent">
      <mat-icon fontIcon="shopping_cart" matTooltip="Купити" [matTooltipShowDelay]="500"></mat-icon>
    </button>
    <button mat-button color="primary">
      <mat-icon fontIcon="library_books" matTooltip="Позичити" [matTooltipShowDelay]="500"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
