.mat-nav-list {
  position: fixed;
}

.container1 {
  display: flex;
  align-items: center;
}

.mat-icon {
  vertical-align: middle;
  padding: 0.2em;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}
