.main-drawer {
  height: 100vh;
  mat-drawer {
    width: 240px;
    min-width: 5em;
    background: white; //#3f51b5; //#012a5b;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  mat-drawer.collapsed {
    width: 5em;
  }
}
