.BookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

app-book-box {
  margin: 0.3em
}

.fab-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.contact-fab-button {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}
