<h2 mat-dialog-title>Додаємо нову книжку</h2>

<mat-dialog-content>
  <form #bookForm="ngForm">
    <div>
      <mat-form-field class="bookISBN">
        <mat-label>ISBN</mat-label>
        <mat-chip-grid #isbnChipGrid>
          @for (isbn of isbns; track isbn) {
            <mat-chip-row (removed)="removeIsbn(isbn)">
              {{isbn}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
          <input placeholder="Додайте ISBN..."
                 [matChipInputFor]="isbnChipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addIsbn($event)"
                 matTooltip="ISBN - до 13 цифр з дефісами"
                 [matTooltipShowDelay]="1000">
        </mat-chip-grid>
      </mat-form-field>

      <mat-form-field class="bookTitle">
        <mat-label>Назва книжки</mat-label>
        <input matInput [(ngModel)]="bookData.bookTitle" name="title" required #bookTitle="ngModel">
        <mat-error *ngIf="bookTitle.invalid && (bookTitle.dirty || bookTitle.touched)">
          Назва книжки має бути обов'язково
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="bookAuthor">
        <mat-label>Автор(и)</mat-label>
        <input matInput [(ngModel)]="bookData.bookAuthor" name="author">
      </mat-form-field>

      <mat-form-field class="yearPublished">
        <mat-label>Рік видання</mat-label>
        <mat-chip-grid #chipGrid [(ngModel)]="bookData.bookYearPublished" name="yearPublished">
          @for (year of years(); track year.year) {
            <mat-chip-row
              (removed)="remove(year)"
              [editable]="true"
              (edited)="edit(year, $event)"
              [aria-description]="'press enter to edit ' + year.year">
              {{year.year}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }

          <input placeholder="Введіть рік..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="addYear($event)"
             matTooltip="Можна ввести 4-значні числа від 1900 до 2025"
             [matTooltipShowDelay]="1000">
        </mat-chip-grid>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="bookPublisher">
        <mat-label>Видавництво</mat-label>
        <input matInput [(ngModel)]="bookData.bookPublisher" name="publisher">
      </mat-form-field>

      <mat-form-field class="bookNbrOfPages">
        <mat-label>Кількість сторінок</mat-label>
        <input matInput type="number" [(ngModel)]="bookData.bookNbrOfPages" name="nbrOfPages">
      </mat-form-field>

      <mat-form-field class="bookCover">
        <mat-label>Палітурка</mat-label>
        <input type="text"
               matInput
               [(ngModel)]="bookData.bookCover"
               (ngModelChange)="validateBookCover($event)"
               (blur)="validateBookCover(bookData.bookCover || '')"
               name="cover"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (type of filteredCoverTypes(bookData.bookCover); track type) {
            <mat-option [value]="type">{{type}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-form-field class="bookDescription">
      <mat-label>Опис книжки</mat-label>
      <textarea matInput [(ngModel)]="bookData.bookDescription" name="description" rows="3"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Відхиляю</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!bookForm.form.valid">Додай</button>
</mat-dialog-actions>
