mat-dialog-content {
  max-height: 90vh !important;

  form {
    display: flex;
    flex-wrap: wrap;

    .full-width {
      width: 100%;
    }

    div {
      display: flex;
      gap: 0.5em;
      width: 100%;

      mat-form-field {
        &.isbn-field {
          width: 13em;
        }

        &:has(mat-chip-grid[name="yearPublished"]) {
          width: 13em;
        }

        &:has(input[name="cover"]) {
          width: 10em;
        }

        &:not(.isbn-field):not(:has(mat-chip-grid[name="yearPublished"])):not(:has(input[name="cover"])) {
          flex: 1;
        }
      }
    }

    mat-form-field {
      margin-right: 1rem;

      // Decrease font size for input fields
      ::ng-deep .mat-mdc-input-element {
        font-size: 14px; // You can adjust this value as needed
      }
    }

    .mat-mdc-chip-grid {
      input {
        width: 100px !important;  // Restrict input width
        min-width: unset !important;
      }
    }

    .isbn-field {
      margin-right: 1em;
    }
  }
}

.mat-mdc-dialog-title {
  padding-top: 0 !important;
}
