.mat-mdc-dialog-title {
  padding-top: 0 !important;
}

mat-dialog-content {
  max-height: 90vh !important;
  padding: 1rem !important;

  div {
    display: flex;
    gap: 0.5em;
    width: 100%;

    mat-form-field {
      margin-right: 0.5rem;

      &.bookISBN {
        padding-top: 0.3rem; //adds some distance to the title to avoid jamming title of this field
        flex: 0 0 auto;
        width: 13em;
      }

      &.bookTitle {
        padding-top: 0.3rem; //adds some distance to the title to avoid jamming title of this field
      }

      &.bookCover {
        flex: 0 0 auto;
        width: 7em;
      }

      &.yearPublished {
        flex: 0 0 auto;
        width: 13em;
      }

      &.bookNbrOfPages {
        flex: 0 0 auto;
        width: 8em;
      }

      &.bookCategories {
        flex: 1;
      }

      &.bookLanguage {
        flex: 0 0 auto;
        width: 13em;
      }

      &.bookDescription {
        margin-bottom: -1rem;
      }

      //All the fields except listed with specific horizontal sizes above will consume all the available space
      &:not(bookISBN):not(bookCover):not(yearPublished):not(bookCategories):not(bookLanguage) {
        flex: 1;
      }
    }
  }

  .bookDescription {
    width: 100%;
    display: block;
  }
}
