mat-dialog-content {
  min-width: 22rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    mat-form-field {
      width: 100%;
    }
  }
}

mat-dialog-actions {
  padding: 0.1rem;
  gap: 0.1rem;
}
