<h2 mat-dialog-title>Додаємо нову книжку</h2>

<mat-dialog-content>
  <form #bookForm="ngForm">
    <div>
      <mat-form-field class="bookISBN" appearance="outline">
        <mat-label>ISBN</mat-label>
        <mat-chip-grid #isbnChipGrid>
          <mat-chip-row *ngFor="let isbn of isbns" (removed)="removeIsbn(isbn)">
            {{isbn}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input placeholder="Додайте ISBN..."
                 [matChipInputFor]="isbnChipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addIsbn($event)"
                 matTooltip="ISBN - до 13 цифр з дефісами"
                 [matTooltipShowDelay]="1000">
        </mat-chip-grid>
      </mat-form-field>

      <mat-form-field class="bookTitle" appearance="outline">
        <mat-label>Назва книжки</mat-label>
        <input matInput [(ngModel)]="bookData.bookTitle" name="title" required #bookTitle="ngModel">
        <mat-error *ngIf="bookTitle.invalid && (bookTitle.dirty || bookTitle.touched)">
          Назва книжки має бути обов'язково
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="bookAuthor" appearance="outline">
        <mat-label>Автор(и)</mat-label>
        <input matInput [(ngModel)]="bookData.bookAuthor">
      </mat-form-field>

      <mat-form-field class="yearPublished" appearance="outline">
        <mat-label>Рік (роки) видання</mat-label>
        <mat-chip-grid #chipGrid [(ngModel)]="bookData.bookYearPublished" name="yearPublished">
          <mat-chip-row *ngFor="let year of years()"
              (removed)="remove(year)"
              [editable]="true"
              (edited)="edit(year, $event)"
              [aria-description]="'press enter to edit ' + year.year">
            {{year.year}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>

          <input placeholder="Введіть рік..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="addYear($event)"
             matTooltip="Можна ввести 4-значні числа від 1900 до 2025"
             [matTooltipShowDelay]="1000">
        </mat-chip-grid>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="bookPublisher" appearance="outline">
        <mat-label>Видавництво</mat-label>
        <input matInput [(ngModel)]="bookData.bookPublisher">
      </mat-form-field>

      <mat-form-field class="bookNbrOfPages" appearance="outline">
        <mat-label>К-ть сторінок</mat-label>
        <input matInput type="number" [(ngModel)]="bookData.bookNbrOfPages">
      </mat-form-field>

      <mat-form-field class="bookCover" appearance="outline">
        <mat-label>Палітурка</mat-label>
        <input type="text"
               matInput
               [(ngModel)]="bookData.bookCover"
               (ngModelChange)="validateBookCover($event)"
               (blur)="validateBookCover(bookData.bookCover || '')"
               name="cover"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let type of filteredCoverTypes(bookData.bookCover)" [value]="type">{{type}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-form-field class="bookDescription" appearance="outline">
      <mat-label>Опис книжки</mat-label>
      <textarea matInput [(ngModel)]="bookData.bookDescription" rows="3"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Відхиляю</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!bookForm.form.valid">Додай</button>
</mat-dialog-actions>
